* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 50px;
}

#azioni_da_fare {
  list-style-type: none;
}

#azioni_da_fare li {
  color: black;
}

.elimina{
  color: red;
  cursor: pointer;
  font-size: 20px;
  margin: 2px;
}
